# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Desktop.ini

# VSCode
.vscode/
__pycache__/

data/
datasets/
pytorch-DEX/
pytorch_DEX/
temp_save_imgs/

*.zip
*.tar
*.gz

# Temporary files
TEMP.py

# ENV VARIABLES
.env
.env.local
.venv